*{
    background-color: #06141B;
}

.navBar{
    font-family: 'Outfit';
}

.inHeader{
    width: 1120px;
    height: 100;
    display : block;
    margin: 0 auto;
}

.logoHolder{
    margin-top: -3px;
    font-family: 'Outfit';
    font-size: 20px;
    padding-top: 5px;
    color: #9BA8AB;
}

.blackBar{
    margin-top: -100px;
    margin-left: 200px;
    height: 42px;
    display: block;
    background-color: #9BA8AB;
    border-radius: 5px;
}


.navigation{
    padding: 10px;
    font-family: 'Outfit';
    font-weight: 300;
    margin-top: 42px;
    font-size: 20px;
    color: #9BA8AB;
    float: right;
}

.navigation li{
    display: inline-block;
    padding-inline: 60px;
}

.about{
    margin-top: 100px;
    margin-left: 100px;;
    display: block;
    color: #9BA8AB;
    font-family: 'Outfit';
    text-align: center;
    justify-content: center;
}

.fillerForIntro{
    display: block;
    padding: 50px;
}

.picture{
    display: block;
    margin-right: 250px;
    float: right;
    border-radius: 250px;
}

.filler{
    display: block;
    padding: 100px;
}

.blueBox{
    display: block;
    width: 1120px;
    margin: 0 auto;
    height: 42px;
    background-color: #9BA8AB;
    border-radius: 5px;
}

.icons{
    background-color: #1e4d5c00;
    display: flex;
    justify-content: center ;
    gap: 80px;
    margin-top: -70;
}

.icons:hover{
    transform: translateY(-10px);
}

.icon1:hover{
        transform: translateY(-20px);
}

.icon2:hover{
    transform: translateY(-20px);
}

.icon3:hover{
    transform: translateY(-20px);
}

.icon4:hover{
    transform: translateY(-20px);
}

.icon5:hover{
    transform: translateY(-20px);
}

.cheeseTouch{
    margin-top: 150px;
    display: block;
    color: #9BA8AB;
    font-family: 'Inter';
    text-align: center;
}

.cheeseTouch p{
    font-family: 'Outfit';
}

.cheeseTouch h1{
    font-weight: 300;
}

.cheeseTouch h2{
    font-weight: 100;
}

.footer{
    text-align: center;
    color: #9BA8AB;
    font-weight: 200;
    padding-bottom: 50px;
}