* {
    background-color: beige;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.username{
    display: flex;
    padding: 10px;
}

.user-image{
    margin-right: 5px;
}

.password{
    display: flex;
    padding: 10px;
}

.pass-image{
    margin-right: 5px;
}

.remember-me {
    font-size: 15px;
    padding: 10px;
}

.login-button {
    margin: 10px;
}

.btn {
    background-color: burlywood;
}

.signup-page-link {
    font-size: 15px;
}


